.idea/
assets/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
core/.DS_Store
core/.DS_Store
.DS_Store
.DS_Store
core/.DS_Store
.DS_Store
core/.DS_Store
core/.DS_Store
core/.DS_Store
.DS_Store
.DS_Store
core/.DS_Store
core/.DS_Store
