/*
    Meal Tracker CSS
 */

/**
* Accordion ( based on https://inspirationalpixels.com/accordion-html-css-jquery/#css )
*/
.yk-mt-accordion,
.yk-mt-accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.yk-mt-accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}

/*----- Section Titles -----*/
.yk-mt-accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.yk-mt-accordion-section-title.active,
.yk-mt-accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}

.yk-mt-accordion-section:last-child .yk-mt-accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.yk-mt-accordion-section-content {
    padding:15px;
    display:none;
}

/*
    Tables with div
 */
.yk-mt-t {
    width: 100%;
    display: table;
}
.yk-mt-r {
    display: table-row;
}
.yk-mt-c {
    display: table-cell;
}
.yk-mt-label-col {
    width: 10%;
}
/*
    Modal
 */
#yk-mt-add-meal-dialog{
    background-color: #FFFFFF;
}

/**
    Summary section
 */
.yk-mt-shortcode-meal-tracker {

}
.yk-mt-summary-table {
    margin-bottom: 25px;
}
.yk-mt-summary-details {
    text-align: right;
    vertical-align: middle !important;
}
.yk-mt-summary-chart-slot {
    width: 300px ! important;
}
.yk-mt-summary-chart-slot canvas{

}
.yk-mt-summary-details p {
    margin-bottom: 0px;
}
.yk-mt-summary-details .yk-mt-figure {
    font-size: 30px;
}