/*
    Meal Tracker CSS
 */

/**
* Accordion ( based on https://inspirationalpixels.com/accordion-html-css-jquery/#css )
*/
.yk-mt-accordion,
.yk-mt-accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.yk-mt-accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}

/*----- Section Titles -----*/
.yk-mt-accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.yk-mt-accordion-section-title.active,
.yk-mt-accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}

.yk-mt-accordion-section:last-child .yk-mt-accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.yk-mt-accordion-section-content {
    padding:15px;
    display:none;
}

/*
    Tables with div
 */
.yk-mt-t {
    width: 100%;
    display: table;
}
.yk-mt-r {
    display: table-row;
}
.yk-mt-c {
    display: table-cell;
}
.yk-mt-label-col {
    width: 10%;
}
/*
Table styles
*/
.yk-mt-o {
    width: 25px;
}
.yk-mt-t button {
    width: 25px;
    height: 25px;
    padding: 5px 2px 0px 2px;
    font-size: 11px;
    background: rgb(220,220,220);
    color: #000;
    box-shadow: none;
}
/*
    Modal
 */
#yk-mt-add-meal-dialog {
    background-color: #FFFFFF;

}
.yk-mt-modal-content {
    padding: 10px;
}
.yk-mt-modal-content h5 {
    margin-bottom: 6px;
}
.yk-mt-modal-content .yk-mt-quantity-row {
    display: inline-block;
    height: 30px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.yk-mt-modal-content  .yk-mt-quantity-row button {
    /*display: inline;
    height: 100%;*/
    margin-left: 5px;
}
.yk-mt-modal-content  .yk-mt-quantity-row label, .yk-mt-auto-close label {
    display: inline;
}
.yk-mt-modal-content  .yk-mt-quantity-row input {
    text-align: center;
    width: 60px;
}
.yk-mt-modal-header, .yk-mt-modal-content {
    padding: 10px 20px 10px 20px;
    margin: auto;
}
.yk-mt-meal-button-add {
    font-size: 16px;
    padding: 6px 15px 6px 15px;
}
#yk-mt-button-add-meal-6,
    #yk-mt-button-add-meal-7,
        #yk-mt-button-add-meal-8,
            #yk-mt-button-add-meal-9,
                #yk-mt-button-add-meal-10 {
    display: none;
}
@media only screen and (min-width: 345px) {
    #yk-mt-button-add-meal-10 {
        display: inline;
    }
}
@media only screen and (min-width: 520px) {

    #yk-mt-button-add-meal-6,
    #yk-mt-button-add-meal-7,
    #yk-mt-button-add-meal-8,
    #yk-mt-button-add-meal-9 {
        display: inline;
    }
}
@media only screen and (min-width: 800px) {
    .yk-mt-modal-header, .yk-mt-modal-content {
        width: 60%;
    }
}
@media only screen and (min-width: 1200px) {
    .yk-mt-modal-header, .yk-mt-modal-content {
        width: 40%;
    }
}
.yk-mt-modal-header {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    overflow:hidden;
}
.yk-mt-modal-header button {
    float: right;
}
.yk-mt-modal-header h3 {
    float: left;
    margin-bottom: 0px;
    margin-top: 7px;
}
.yk-mt-hide {
    display: none;
}
.yk-mt-auto-close {
    margin-top: 15px;
    font-size: 0.8em;
}
.yk-mt-auto-close label {
    margin-left: 5px;
}
#btn-close-modal {
    padding: 6px 15px 6px 15px;
}
/**
    Add a new meal form
 */
.yk-mt-add-new-meal-form {
    margin-top: 20px;
}

.yk-mt-add-new-meal-form label,
    .yk-mt-add-new-meal-form input,
        .yk-mt-add-new-meal-form select {
    display: block;
    width: 95%;
    margin-bottom: 10px;
}
.yk-mt-add-new-meal-form input {
    padding: 8px !important;
}
.yk-mt-add-new-meal-form select {
    height: 38px;
}
/**
    Summary section
 */
.yk-mt-shortcode-meal-tracker {

}
.yk-mt-summary-table {
    margin-bottom: 25px;
}
.yk-mt-summary-details {
    text-align: right;
    vertical-align: middle !important;
}
.yk-mt-summary-chart-slot {
    width: 300px ! important;
}
.yk-mt-summary-chart-slot canvas{

}
.yk-mt-summary-details p {
    margin-bottom: 0px;
}
.yk-mt-summary-details .yk-mt-figure {
    font-size: 30px;
}

/**
    Buttons
 */
.yk-mt-button-success,
.yk-mt-button-error,
.yk-mt-button-warning,
.yk-mt-button-secondary
{
    font-family: tahoma;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.yk-mt-button-success,
.yk-mt-button-error,
.yk-mt-button-warning,
.yk-mt-button-secondary {
    color: white;
}

.yk-mt-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.yk-mt-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.yk-mt-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.yk-mt-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.yk-mt-button-silent, .yk-mt-button-small {
    background: rgb(220,220,220)
}
.yk-mt-button-small {
    font-family: tahoma;
    font-size: 13px;
    padding: 3px 10px 3px 10px;
}
/**
   Generic styling for forms
 */

.yk-mt-shortcode-meal-tracker input[type="text"],
.yk-mt-shortcode-meal-tracker input[type="email"],
.yk-mt-shortcode-meal-tracker input[type="password"],
.yk-mt-shortcode-meal-tracker input[type="search"],
.yk-mt-shortcode-meal-tracker input[type="url"],
.yk-mt-shortcode-meal-tracker input[type="number"],
.yk-mt-shortcode-meal-tracker select
{
    border: 1px solid #eee;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 0.6em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

/**
   Selectize
 */
.yk-mt-shortcode-meal-tracker .selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 50%;
    right: 34px;
    width: 16px;
    height: 16px;
    margin: -11px 0 0 0;
    background: url(../images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}
.yk-mt-shortcode-meal-tracker .selectize-control.loading::before {
    opacity: 0.4;
}