/*
Plugin Name: YeKen Meal Tracker
Plugin URI:
Author: Robert Paul
Author URI:
Description: Theme styles for the YeKen Meal Tracker plugin.
Version: x.x.x
*/

/* Var overrides */
:root {

	/* Var overrides > Fonts */
	--yk-mt-font-display: 'Nunito', sans-serif;
}

/* Components > Buttons */
.yk-mt__btn-text {
	font-family: var(--yk-mt-font-display);
	font-weight: 900;
	text-transform: uppercase;
}

.yk-mt__btn--medium .yk-mt__btn-text {
	font-size: 87.5%;
}

/* Components > Tables */
.yk-mt-act-r {
	box-shadow: none !important;
}

/* Shortcode > Accordion */
.yk-mt__accordion-section-title {
	border-bottom-color: var(--yk-mt-primary-color);
	font-size: 125%;
	font-weight: 800;
	background-color: #fff;
}

.yk-mt__accordion-section-title.active:before {
	border-right-color: var(--yk-mt-primary-color);
	border-bottom-color: var(--yk-mt-primary-color);
}

.yk-mt__accordion-section-title:hover,
.yk-mt__accordion-section-title:focus,
.yk-mt__accordion-section-title:active {
	color: #000 !important;
}

.yk-mt__meal-name {
	font-weight: 800;
}

.yk-mt__table-cell-total {
	font-weight: 900;
}

/* Shortcode > Modal > Header */
.yk-mt__modal-title {
	font-weight: 800;
}

/* Selectize */
/*.yk-mt-shortcode-meal-tracker .selectize-control:before {*/
/*	content: ' ';*/
/*	z-index: 2;*/
/*	position: absolute;*/
/*	top: 50%;*/
/*	right: 34px;*/
/*	display: block;*/
/*	margin: -11px 0 0 0;*/
/*	width: 16px;*/
/*	height: 16px;*/
/*	background-image: url(../images/spinner.gif);*/
/*	background-size: 16px 16px;*/
/*	opacity: 0;*/

/*	transition: opacity .2s;*/
/*}*/

/*.yk-mt-shortcode-meal-tracker .selectize-control.loading:before {*/
/*	opacity: .4;*/
/*}*/
