/*
Plugin Name: YeKen Meal Tracker
Plugin URI:
Author: Robert Paul
Author URI:
Description: Theme styles for the YeKen Meal Tracker plugin.
Version: x.x.x
*/

@font-face {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/font-awesome/fa-regular-400.eot');
	src: url('../fonts/font-awesome/fa-regular-400.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-awesome/fa-regular-400.woff2') format('woff2'),
		url('../fonts/font-awesome/fa-regular-400.woff') format('woff'),
		url('../fonts/font-awesome/fa-regular-400.ttf') format('truetype'),
		url('../fonts/font-awesome/fa-regular-400.svg#fontawesome') format('svg');
}

/* Vars */
:root {

	/* Vars > Colours */
	--yk-mt-primary-color: #b0dda0;

	/* Vars > Fonts */
	--yk-mt-font-display: 'Inter', sans-serif;
}

/* Components > Buttons */
.yk-mt__btn-text {
	font-family: var(--yk-mt-font-display);
}

.yk-mt__btn--medium .yk-mt__btn-text {
	font-size: 87.5%;
}

/* Components > Tables */
.yk-mt-act-r {
	box-shadow: none !important;
	border-radius: 50%;
}

/* Shortcode > Accordion */
.yk-mt-accordion-section-title {
	border-bottom-color: var(--yk-mt-primary-color);
	font-family: var(--yk-mt-font-display);
	font-weight: 800;
	background-color: #fff;
}

.yk-mt-accordion-section-title.active:before {
	border-right-color: var(--yk-mt-primary-color);
	border-bottom-color: var(--yk-mt-primary-color);
}

.yk-mt-accordion-section-title:hover,
.yk-mt-accordion-section-title:focus,
.yk-mt-accordion-section-title:active {
	color: #000 !important;
}

/* Shortcode > Modal */
.yk-mt__modal-header {
	border-bottom: 1px solid #ccc;
}

/* Selectize */
.yk-mt-shortcode-meal-tracker .selectize-control:before {
	content: ' ';
	z-index: 2;
	position: absolute;
	top: 50%;
	right: 34px;
	display: block;
	margin: -11px 0 0 0;
	width: 16px;
	height: 16px;
	background-image: url(../images/spinner.gif);
	background-size: 16px 16px;
	opacity: 0;

	transition: opacity .2s;
}

.yk-mt-shortcode-meal-tracker .selectize-control.loading::before {
	opacity: .4;
}
