/*
Plugin Name: YeKen Meal Tracker
Plugin URI:
Author: Robert Paul
Author URI:
Description: Core styles for the YeKen Meal Tracker plugin.
Version: x.x.x
*/

/****
Icons
****/

@font-face {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/font-awesome/fa-regular-400.eot');
	src: url('../fonts/font-awesome/fa-regular-400.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-awesome/fa-regular-400.woff2') format('woff2'),
		url('../fonts/font-awesome/fa-regular-400.woff') format('woff'),
		url('../fonts/font-awesome/fa-regular-400.ttf') format('truetype'),
		url('../fonts/font-awesome/fa-regular-400.svg#fontawesome') format('svg');
}

/***
Vars
***/

:root {

	/* Vars > Units */
	--yk-mt-unit-base: 16px;

	/* Vars > Colours */
	--yk-mt-primary-color: #333;

	/* Vars > Fonts */
	--yk-mt-font-display: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--yk-mt-font-sans: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--yk-mt-font-icons: 'FontAwesome', sans-serif;
}

/************
Global styles
************/

/* Global styles > Protect plugin units from themes */
.yk-mt {
	font-size: 16px !important;

	/* Vars */
	font-size: var(--yk-mt-unit-base) !important;
}

/* Global styles > Set global font */
.yk-mt,
.yk-mt * {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	/* Vars */
	font-family: var(--yk-mt-font-sans);
}

/**************
Utility classes
**************/

.yk-mt-hide {
	display: none !important;
}

.yk-mt-selected {
	font-weight: bold !important;
}

/* Utility classes > Non-Pro */
.yk-mt-not-pro .yk-mt-hide-if-not-pro {
	display: none !important;
}

/*********
Components
*********/

/* Components > Buttons */
.yk-mt__btn {
	-webkit-appearance: none;
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	border: 2px solid #000;
	font-weight: 600;
	background-color: #fff;
	color: #000;

	border-radius: 3rem;
	box-sizing: border-box;
}

.yk-mt__btn:hover,
.yk-mt__btn:focus {
	background-color: #000 !important;
	color: #fff;
}

/* Components > Inputs */
.yk-mt__label {
	display: block;
	margin-bottom: .25rem;
	font-weight: 400;
	font-size: 75%;
	color: #444;

	-webkit-transition: color ease .2s;
	transition: color ease .2s;
}

.yk-mt__label:hover,
.yk-mt__label:focus {
	color: #000;
}

.yk-mt__input,
.yk-mt__select {
	margin-bottom: 1rem;
	padding: 0 8px !important;
	border: 1px solid #ddd;
	height: 32px;
	line-height: 32px;
	font-size: 87.5%;
	border-radius: 3px !important;

	-webkit-transition: all ease .2s;
	transition: all ease .2s;

	/* Vars */
	padding: 0 calc(var(--yk-mt-unit-base) / 2) !important;
	height: calc(var(--yk-mt-unit-base) * 2);
	line-height: calc(var(--yk-mt-unit-base) * 2);
}

.yk-mt__input:not([type='checkbox']),
.yk-mt__select {
	display: block;
	width: 100%;
}

.yk-mt__input[type='checkbox'] {
	margin: 0 .5rem 0 0;
	vertical-align: middle;
}

.yk-mt__input[type='checkbox'] + .yk-mt__label {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.yk-mt__input:not(:disabled):hover,
.yk-mt__input:not(:disabled):focus,
.yk-mt__select:hover,
.yk-mt__select:focus,
.yk-mt__label:hover + .yk-mt__input:not(:disabled),
.yk-mt__label:hover + .yk-mt__select,
.yk-mt__label:focus + .yk-mt__input:not(:disabled),
.yk-mt__label:focus + .yk-mt__select {
	border-color: #777;
}

.yk-mt__input:disabled {
	background-color: #fafafa;
}

/* Components > Tables */
.yk-mt__table {
	display: table;
	width: 100%;
}

.yk-mt__table-row {
	display: table-row;
}

.yk-mt__table-cell {
	display: table-cell;
	padding: 10px;
}

/******************
Shortcode > Summary
******************/

.yk-mt__summary {
	margin-bottom: 32px;

	/* Vars */
	margin-bottom: calc(2 * var(--yk-mt-unit-base));
}

.yk-mt__summary-title {
	margin-bottom: 1rem;
	padding: 10px;
	border-bottom: 2px solid #333;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 125%;
	font-weight: 800;

	/* Vars */
	border-bottom-color: var(--yk-mt-primary-color);
	font-family: var(--yk-mt-font-display);
}

.yk-mt__table--summary-details {
	text-align: right;
	vertical-align: middle !important;
}

.yk-mt__table--summary-chart-slot {
	width: 300px ! important;
}

.yk-mt__table--summary-details p {
	margin-bottom: 0;
}

#yk-mt-settings-form .yk-mt-form-row {
	margin-bottom: 10px;
}

/********************
Shortcode > Accordion
********************/

.yk-mt__accordion,
.yk-mt__accordion * {
	box-sizing: border-box;
}

.yk-mt__accordion {
	overflow: hidden;
}

/* Shortcode > Accordion > Titles */
.yk-mt__accordion-section-title {
	position: relative;
	display: inline-block;
	padding: 10px;
	border-bottom: 2px solid #000;
	width: 100%;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	box-shadow: none !important;

	-webkit-transition: all ease .15s !important;
	transition: all ease .15s !important;

	/* Vars */
	font-family: var(--yk-mt-font-display);
}

.yk-mt__accordion-section-title.active:before {
	content: '';
	position: absolute;
	bottom: 8px;
	left: calc(50% - 8px);
	border: 2px solid transparent;
	border-right-color: #000;
	border-bottom-color: #000;
	width: 16px;
	height: 16px;
	background-color: #fff;

	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);

	/* Vars */
	bottom: calc(-.5 * var(--yk-mt-unit-base));
	left: calc(50% - (var(--yk-mt-unit-base) / 2));
	width: var(--yk-mt-unit-base);
	height: var(--yk-mt-unit-base);
}

/* Shortcode > Accordion > Content */
.yk-mt__accordion-section-content {
	padding-top: 16px;
	padding-bottom: 16px;

	/* Vars */
	padding-top: var(--yk-mt-unit-base);
	padding-bottom: var(--yk-mt-unit-base);
}

.yk-mt__accordion-enabled .yk-mt__accordion-section-content {
	display: none;
}

.yk-mt__meal-name,
.yk-mt__meal-data {
	display: inline-block;
	line-height: 120%;
}

.yk-mt__meal-name {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;

	/* Vars */
	font-family: var(--yk-mt-font-display);
}

.yk-mt__accordion .yk-mt__table-cell {
	vertical-align: middle;
}

.yk-mt__table-cell-total-text,
.yk-mt__table-cell-total {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 900;

	/* Vars */
	font-family: var(--yk-mt-font-display);
}

.yk-mt__table-cell-total-text {
	padding-right: 16px;
	font-size: 100%;
	text-transform: uppercase;

	/* Vars */
	padding-right: var(--yk-mt-unit-base);
}

.yk-mt__table-cell-total {
	font-size: 125%;
}

.yk-mt__accordion .yk-mt__btn-wrap {
	margin-bottom: 16px;
	text-align: center;

	/* Vars */
	margin-bottom: var(--yk-mt-unit-base);
}

.yk-mt-act-r {
	display: block;
	padding: 0;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px;
	color: #333;
	border-radius: 50%;
	box-shadow: none !important;
	box-sizing: border-box;

	-webkit-transition: background-color ease .2s;
	transition: background-color ease .2s;

	/* Vars */
	width: calc(2 * var(--yk-mt-unit-base));
	height: calc(2 * var(--yk-mt-unit-base));
	background-size: var(--yk-mt-unit-base);
}

.yk-mt-act-r--edit {
	margin-right: 10px;
	background-color: #333;
	color: #fff;
}

.yk-mt-act-r--remove {
	background-color: #f30;
	color: #fff;
}

.yk-mt-r__text {
	display: none;
}

.yk-mt__no-meals {
	text-align: center;
}

/****************
Shortcode > Modal
****************/

.yk-mt__modal {
	z-index: 51;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10vh;
	background-color: transparent !important;
}

.yk-mt__modal-bg {
	z-index: 50;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.yk-mt-add-meal-dialog-on + .yk-mt__modal-bg {
	opacity: 1;
	visibility: visible;
}

.yk-mt__modal-wrap {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 32px;
	width: 100%;
	background-color: #fff;

	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0,0,0,.66);

	/* Vars */
	padding: calc(var(--yk-mt-unit-base) * 2);
}

/* Shortcode > Modal > Header */
.yk-mt__modal-header {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid #333;

	/* Vars */
	border-bottom-color: var(--yk-mt-primary-color);
}

.yk-mt__modal-title,
.yk-mt__modal-subtitle {
	padding: 0;
	line-height: 125%;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;

	/* Vars */
	font-family: var(--yk-mt-font-display);
}

.yk-mt__modal-title {
	margin: 0 !important;
	font-size: 150%;
}

.yk-mt__info-box {
	position: relative;
	margin: 2rem auto;
	padding-left: 40px;
	width: 100%;
	max-width: 300px;
	background-color: #fff;
	color: #000;

	box-sizing: border-box;

	/* Vars */
	padding-left: calc(var(--yk-mt-unit-base) * 2.5);
}

.yk-mt__info-box-text {
	display: block;
	line-height: 125%;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	/* Vars */
	font-family: var(--yk-mt-font-display);
}

.yk-mt__info-box .fa {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	font-size: 32px;
	color: #333;

	/* Vars */
	width: calc(var(--yk-mt-unit-base) * 2);
	height: calc(var(--yk-mt-unit-base) * 2);
	font-size: calc(var(--yk-mt-unit-base) * 2);
	color: var(--yk-mt-primary-color);
}

.yk-mt__modal-subtitle {
	margin-bottom: .5rem;
	font-size: 100%;
}

/* Shortcode > Modal > Quick Search */
.yk-mt__modal-quick-search .yk-mt-quantity-row {
	margin-top: 12px;
	margin-bottom: 12px;
}

.yk-mt__modal-quick-search .yk-mt__modal-label {
	display: inline-block;
}

.yk-mt__btn--add-meal-quantity {
	margin-bottom: .25rem;
	margin-right: .25rem;
	padding-left: .5rem;
	padding-right: .5rem;
	line-height: 150%;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	/* Vars */
	font-family: var(--yk-mt-font-display);
}

.yk-mt__modal-auto-close .yk-mt__label {
	margin-left: 5px;
}

/* Shortcode > Modal > 'Add New Meal' */
.yk-mt-add-new-meal-form {
	margin-top: 20px;
}

.yk-mt-mode-edit .yk-mt-hide-if-editing,
.yk-mt-mode-add .yk-mt-hide-if-adding {
	display: none;
}

.yk-mt-navigation-table {
	margin-bottom: 7px;
}

.yk-mt-datepicker-cell {
	text-align: right;
}

/* Shortcode > Modal > Footer */
.yk-mt__modal-footer {
	padding-top: 1rem;
	text-align: center;
}

/********
Fallbacks
********/

/* Fallbacks > Shortcode > Tables */
.yk-mt-inline-flex {
	display: inline-block;
	width: 74px;
}

.yk-mt-inline-flex:after {
	content: '';
	display: table;
	clear: both;
}

.yk-mt-inline-flex > .yk-mt-act-r {
	float: left;
}

/* Fallbacks > Shortcode > Modal > Header */
.yk-mt__modal-header .yk-mt__btn {
	position: absolute;
	top: 32px;
	right: 32px;

	/* Vars */
	top: calc(2 * var(--yk-mt-unit-base));
	right: calc(2 * var(--yk-mt-unit-base));
}

/*************
@media queries
*************/

/* @media queries: screen, >=345px */
@media only screen and (max-width: 344px) {

	/* Shortcode > Modal > Quick Search > Hide #10 */
	#yk-mt-button-add-meal-10 {
		display: none;
	}
}

/* @media queries: screen, <=519px */
@media only screen and (max-width: 519px) {

	/* Shortcode > Modal > Quick Search > Hide #6 - #9 */
	#yk-mt-button-add-meal-6,
	#yk-mt-button-add-meal-7,
	#yk-mt-button-add-meal-8,
	#yk-mt-button-add-meal-9 {
		display: none;
	}
}

/* @media queries: screen, <=767px */
@media only screen and (max-width: 767px) {

	/* Components > Buttons */
	.yk-mt__btn--small {
		padding-left: 8px;
		padding-right: 8px;
		line-height: 1.5;
		font-size: 75%;

		/* Vars */
		padding-left: calc(var(--yk-mt-unit-base) / 2);
		padding-right: calc(var(--yk-mt-unit-base) / 2);
	}

	.yk-mt__btn--medium {
		padding-left: 16px;
		padding-right: 16px;
		line-height: 2;
		font-size: 100%;

		/* Vars */
		padding-left: var(--yk-mt-unit-base);
		padding-right: var(--yk-mt-unit-base);
	}

	/* Shortcode > Accordion */
	.yk-mt > .yk-mt__btn-wrap {
		text-align: center;
	}

	/* Shortcode > Modal > Wrap */
	.yk-mt__modal-wrap {
		max-width: 80%;
	}

	/* Shortcode > Modal > Header */
	.yk-mt__modal-header .yk-mt__btn {
		position: absolute;
		top: -16px;
		right: -16px;
		padding: 0;
		width: 32px;
		height: 32px;
		line-height: 26px;
		background-color: #000;
		color: #fff;

		/* Vars */
		top: calc(-1 * var(--yk-mt-unit-base));
		right: calc(-1 * var(--yk-mt-unit-base));
	}

	.yk-mt__modal-header .yk-mt__btn-text {
		display: none;
	}

	/* Fallbacks > Shortcode > Tables */
	.yk-mt__table-cell {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #ccc;
	}
}

/* @media queries: screen, >=768px */
@media only screen and (min-width: 768px) {

	/* Components > Buttons */
	.yk-mt__btn--small {
		padding-left: 8px;
		padding-right: 8px;
		line-height: 1.5;
		font-size: 75%;

		/* Vars */
		padding-left: calc(var(--yk-mt-unit-base) / 2);
		padding-right: calc(var(--yk-mt-unit-base) / 2);
	}

	.yk-mt__btn--medium {
		padding-left: 16px;
		padding-right: 16px;
		line-height: 2;
		font-size: 100%;

		/* Vars */
		padding-left: var(--yk-mt-unit-base);
		padding-right: var(--yk-mt-unit-base);
	}

	/* Shortcode > Accordion */
	.yk-mt > .yk-mt__btn-wrap {
		text-align: right;
	}

	/* Shortcode > Accordion > Tables */
	.yk-mt__accordion .yk-mt__table-row:not(:last-child) .yk-mt__table-cell {
		border-bottom: 2px dashed #ddd;
	}

	.yk-mt__table-cell-controls {
		padding: 10px;
		max-width: 92px;
	}

	.yk-mt__table-cell-quantity,
	.yk-mt__table-cell-controls,
	.yk-mt__table-cell-total {
		text-align: right;
	}

	/* Shortcode > Modal > Wrap */
	.yk-mt__modal-wrap {
		max-width: 60%;
	}
}

/****************
@supports queries
****************/

/* @supports flexbox */
@supports (display: flex) {

	.yk-mt-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.yk-mt-inline-flex {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}

	/* Shortcode > Accordion */
	.yk-mt__accordion .yk-mt-inline-flex {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		height: 100%;
	}

	.yk-mt-act-r--edit {
		margin-right: 8px;

		/* Vars */
		margin-right: calc(var(--yk-mt-unit-base) / 2);
	}

	/* Shortcode > Modal > Header */
	.yk-mt__modal-header .yk-mt__btn {
		margin-left: auto;
	}

	.yk-mt__modal-auto-close {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	/* Unset fallbacks */
	.yk-mt-inline-flex {
		max-width: unset;
	}

	.yk-mt-inline-flex:after {
		display: none;
	}

	.yk-mt-inline-flex > .yk-mt-act-r {
		float: none;
	}

	/* @media screen, >=768px */
	@media only screen and (min-width: 768px) {

		/* Unset fallbacks */
		.yk-mt__modal-header .yk-mt__btn {
			position: static;
		}
	}
}

/* @supports grid */
@supports ((display: -ms-grid) or (display: grid)) {

	/* @media screen, <=767px */
	@media only screen and (max-width: 767px) {

		.yk-mt__accordion .yk-mt__table {
			display: block;
		}

		.yk-mt__accordion .yk-mt__table-row {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: 3fr auto;
			grid-template-columns: 3fr auto;
			grid-template-areas: 'meal edit' 'data edit';
			grid-column-gap: var(--yk-mt-unit-base);

			padding-top: 8px;
			padding-bottom: 8px;

			/* Vars */
			padding-top: calc(var(--yk-mt-unit-base) / 2);
			padding-bottom: calc(var(--yk-mt-unit-base) / 2);
		}

		.yk-mt__accordion .yk-mt__table-row:not(:last-child) {
			border-bottom: 1px dashed #ccc;
		}

		.yk-mt__table-row:not(:last-child) .yk-mt__table-cell:nth-child(1) {
			grid-area: meal;
		}

		.yk-mt__table-row:not(:last-child) .yk-mt__table-cell:nth-child(2) {
			grid-area: data;
		}

		.yk-mt__table-row:not(:last-child) .yk-mt__table-cell:nth-child(3) {
			grid-area: edit;
		}

		.yk-mt__accordion .yk-mt__table-row:last-child {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}

		/* Unset fallbacks */
		.yk-mt__table-cell {
			padding-top: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
}