/*
Plugin Name: YeKen Meal Tracker
Plugin URI:
Author: Robert Paul
Author URI:
Description: Core styles for the YeKen Meal Tracker plugin.
Version: x.x.x
*/

/*
Vars
*/

:root {

	/* Vars > Grids */
	--yk-mt-grid-gap-s: 8px;
	--yk-mt-grid-gap-m: 16px;
	--yk-mt-grid-gap-l: 32px;

	/* Vars > Colours */
	--yk-mt-primary-color: #333;

	/* Vars > Fonts */
	--yk-mt-font-display: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--yk-mt-font-sans: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**************
Utility classes
**************/

.yk-mt-hide {
	display: none !important;
}

.yk-mt-selected {
	font-weight: bold !important;
}

/* Utility classes > Non-Pro */
.yk-mt-not-pro .yk-mt-o {
	width: 25px;
}

/*.yk-mt-not-pro .yk-mt-hide-if-not-pro {*/
/*	display: none !important;*/
/*}*/

/********
Shortcode
********/

.yk-mt-shortcode-meal-tracker * {
	font-family: var(--yk-mt-font-sans);
}

.yk-mt-shortcode-meal-tracker .yk-mt__btn-wrap {
	margin-bottom: var(--yk-mt-grid-gap-m);
	text-align: center;
}

.yk-mt__no-meals {
	text-align: center;
}

/****
Forms
****/

.yk-mt-shortcode-meal-tracker input[type='text'],
.yk-mt-shortcode-meal-tracker input[type='email'],
.yk-mt-shortcode-meal-tracker input[type='password'],
.yk-mt-shortcode-meal-tracker input[type='search'],
.yk-mt-shortcode-meal-tracker input[type='url'],
.yk-mt-shortcode-meal-tracker input[type='number'],
.yk-mt-shortcode-meal-tracker select {
	padding: .6em;
	border: 1px solid #eee;
	font-size: 14px;

	border-radius: 2px;
	transition: .2s ease-in;
}

/********
Accordion
********/

.yk-mt-accordion,
.yk-mt-accordion * {
	box-sizing: border-box;
}

.yk-mt-accordion {
	overflow: hidden;
}

/* Accordion > Titles */
.yk-mt-accordion-section-title {
	position: relative;
	display: inline-block;
	padding: 10px;
	border-bottom: 2px solid #000;
	width: 100%;
	font-family: var(--yk-mt-font-sans, 'Arial, sans-serif');

	box-shadow: none !important;
	transition: all ease .15s !important;
}

.yk-mt-accordion-section-title.active:before {
	content: '';
	position: absolute;
	bottom: calc(-.55 * var(--yk-mt-grid-gap-m));
	left: var(--yk-mt-grid-gap-m);
	border: 2px solid transparent;
	border-right-color: #000;
	border-bottom-color: #000;
	width: var(--yk-mt-grid-gap-m);
	height: var(--yk-mt-grid-gap-m);
	background-color: #fff;

	transform: rotate(45deg);
}

/* Accordion > Content */
.yk-mt-accordion-section-content {
	padding-top: var(--yk-mt-grid-gap-m);
	padding-bottom: var(--yk-mt-grid-gap-m);
	border-bottom: 1px dashed #ddd;
}

.yk-mt-accordion-enabled .yk-mt-accordion-section-content {
	display: none;
}

/*****
Tables
*****/

.yk-mt-t {
	display: table;
	width: 100%;
}

.yk-mt-r {
	display: table-row;
}

.yk-mt-c {
	display: table-cell;
}

.yk-mt-label-col {
	width: 10%;
}

.yk-mt-o {
	width: 60px;
}

/****
Modal
****/

.yk-mt-modal__wrap {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* Modal > Header */
.yk-mt-modal-header {
	margin-bottom: 5px;
	padding: 10px;
	overflow: hidden;
}

.yk-mt-modal-header button {
	float: right;
}

.yk-mt-modal-header h3 {
	float: left;
	margin-top: 7px;
	margin-bottom: 0;
}

/* Modal > Content */
.yk-mt-modal-content {
	padding: 10px;
}

.yk-mt-modal-content h5 {
	margin-bottom: 6px;
}

.yk-mt-modal-content .yk-mt-quantity-row {
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 12px;
	height: 30px;
}

/* Modal > Buttons / inputs */
.yk-mt-modal-content .yk-mt-quantity-row label,
.yk-mt-auto-close label {
	display: inline;
}

.yk-mt-modal-content .yk-mt-quantity-row input {
	width: 60px;
	text-align: center;
}

.yk-mt-modal-content .yk-mt-quantity-row button {
	margin-left: 5px;
}

.yk-mt-meal-button-add {
	padding: 6px 15px 6px 15px;
	font-size: 16px;
}

#yk-mt-button-add-meal-6,
#yk-mt-button-add-meal-7,
#yk-mt-button-add-meal-8,
#yk-mt-button-add-meal-9,
#yk-mt-button-add-meal-10 {
	display: none;
}

.yk-mt-auto-close {
	margin-top: 15px;
	font-size: .8em;
}

.yk-mt-auto-close label {
	margin-left: 5px;
}

#btn-close-modal {
	padding: 6px 15px 6px 15px;
}

/******************
'Add New Meal' form
******************/

.yk-mt-add-new-meal-form {
	margin-top: 20px;
}

.yk-mt-settings-form label,
.yk-mt-add-new-meal-form label,
.yk-mt-add-new-meal-form input,
.yk-mt-add-new-meal-form select {
	display: block;
	margin-bottom: 10px;
	width: 95%;
}

.yk-mt-add-new-meal-form input {
	padding: 8px !important;
}

.yk-mt-add-new-meal-form select {
	height: 38px;
}

.yk-mt-info {
	margin-top: 10px;
	font-size: 13px;
	font-style: italic;
}

.yk-mt-mode-edit .yk-mt-hide-if-editing,
.yk-mt-mode-add .yk-mt-hide-if-adding {
	display: none;
}

/* Navigation */
.yk-mt-navigation-table {
	margin-bottom: 7px;
}

.yk-mt-datepicker-cell {
	text-align: right;
}

/******
Summary
******/

.yk-mt-summary-table {
	margin-bottom: 25px;
}

.yk-mt-summary-details {
	text-align: right;
	vertical-align: middle !important;
}

.yk-mt-summary-chart-slot {
	width: 300px ! important;
}

.yk-mt-summary-details p {
	margin-bottom: 0;
}

.yk-mt-summary-details .yk-mt-figure {
	font-size: 30px;
}

/* Settings */
#yk-mt-settings-form .yk-mt-form-row {
	margin-bottom: 10px;
}

.yk-mt-button-save-settings {
	margin-top: 15px;
}

/* Selectize */
#yk-mt-add-meal-dialog input,
.selectize-input input {
	font-size: 16px;
}

/******
Buttons
******/

.yk-mt__btn {
	-webkit-appearance: none;
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	border: 2px solid #000;
	font-weight: 600;
	background-color: #fff;
	color: #000;

	border-radius: 3rem;
	box-sizing: border-box;
}

.yk-mt__btn--small {
	padding-left: var(--yk-mt-grid-gap-s);
	padding-right: var(--yk-mt-grid-gap-s);
	line-height: 1.5;
	font-size: 75%;
}

.yk-mt__btn--medium {
	padding-left: var(--yk-mt-grid-gap-m);
	padding-right: var(--yk-mt-grid-gap-m);
	line-height: 2;
	font-size: 100%;
}

.yk-mt__btn--large {
	padding-left: var(--yk-mt-grid-gap-l);
	padding-right: var(--yk-mt-grid-gap-l);
	line-height: 2;
	font-size: 125%;
}

.yk-mt__btn:hover,
.yk-mt__btn:focus {
	background-color: #000 !important;
	color: #fff;
}

.yk-mt-act-r {
	display: block;
	padding: 0;
	width: calc(2 * var(--yk-mt-grid-gap-m));
	height: calc(2 * var(--yk-mt-grid-gap-m));

	background-repeat: no-repeat;
	background-position: center center;
	background-size: var(--yk-mt-grid-gap-m);
	color: #333;

	box-sizing: border-box;
	transition: background-color ease .2s;
}

.yk-mt-act-r--edit {
	background-color: #333;
	color: #fff;
}

.yk-mt-act-r--remove {
	background-color: #f30;
	color: #fff;
}

.yk-mt-r__text {
	display: none;
}

/************
Media queries
************/

/* Media queries: screen, >=345px */
@media only screen and (min-width: 345px) {

	#yk-mt-button-add-meal-10 {
		display: inline;
	}
}

/* Media queries: screen, >=520px */
@media only screen and (min-width: 520px) {

	#yk-mt-button-add-meal-6,
	#yk-mt-button-add-meal-7,
	#yk-mt-button-add-meal-8,
	#yk-mt-button-add-meal-9 {
		display: inline;
	}
}

/* Media queries: screen, <=767px */
@media only screen and (max-width: 767px) {

	/* Modal > Wrap */
	.yk-mt-modal__wrap {
		max-width: 80%;
	}
}

/* Media queries: screen, >=768px */
@media only screen and (min-width: 768px) {

	/* Modal > Wrap */
	.yk-mt-modal__wrap {
		max-width: 60%;
	}
}

/****************
@supports queries
****************/

/* @supports flexbox */
@supports (display: flex) {

	.yk-mt__btn-group {
		display: flex;
	}

	@media only screen and (min-width: 768px) {

		.yk-mt-act-r--edit {
			margin-right: var(--yk-mt-grid-gap-s);
		}
	}
}